<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIENDA</title>
</head>
<body>
     <h1>REGISTRO</h1>
    <hr>
    Ingresa tu nombre <input>
    <br>
    <br>
    Ingresa tus apellidos <input>
    <br>
    <br>
    Deja tu mensaje
    <br>
    <input>
    <br>
    <br>
    Fecha de nacimiento: <input type="date">
    <br>
    <br>
    Ingrese su tipo de documento:
    <br>
    <select name="Tipo_documento"> 
        <option> R.C </option>
        <option> T.I </option>
        <option> C.C </option>
        <option> C.E </option>
    </select>
    <br>
    <br>
    Digita tu numero de documento: <input>
    <br>
    <br>
    Adjunta tu foto: <input type="file">
    <br>
    <br>
    <input type="submit">    
    
</body>
</html>